<template name="register">
    {{> sAlert}}
     <div class="wrapper-login">
    <div class="wrapper-login__form">
      <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-lg-12">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-8">
                        <div class="row justify-content-center">
                          <div class="col-lg-8 col-md-6">
                              <img src="techstack.png" alt="logo" class="img-fluid my-2">
                          </div>
                        </div>
                        <form class="m-t" role="form" action="#">
                            <div class="form-group">
                                <input class="form-control" placeholder="Name" required="" name="name">
                            </div>
                            <div class="form-group">
                                <input type="url" class="form-control" placeholder="Url" required="" name="url">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email" required="" name="email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password" required="" name="password">
                            </div>
                            <button type="submit" class="btn btn-primary block full-width m-b">Register</button>

                            <p class="text-muted text-center">
                                <small>Already have an account? <a class="btn btn-sm btn-white" href="/">Login</a></small>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
      </div>  
    </div>
    <div class="wrapper-login__img animated fadeInRight">
        <div class="container h-100">
          <div class="row h-100 align-items-center justify-content-center">
             <div class="col-lg-8">
                <img src="https://42f2671d685f51e10fc6-b9fcecea3e50b3b59bdc28dead054ebc.ssl.cf5.rackcdn.com/illustrations/setup_analytics_8qkl.svg" alt="login-human" class="img-fluid animated fadeInRight">
             </div>
          </div>
        </div>
    </div>
  </div>
</template>