@font-face {
  font-family: 'Proxima Nova Alt Rg';
  src: url('ProximaNovaA-Bold.woff2') format('woff2'),
      url('ProximaNovaA-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url('fonts/ProximaNova-Regular.woff2') format('woff2'),
      url('fonts/ProximaNova-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url('fonts/ProximaNova-Bold.woff2') format('woff2'),
      url('fonts/ProximaNova-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Bl';
  src: url('fonts/ProximaNova-Black.woff2') format('woff2'),
      url('fonts/ProximaNova-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Alt Lt';
  src: url('fonts/ProximaNovaA-Light.woff2') format('woff2'),
      url('fonts/ProximaNovaA-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6,
a, p, span, button {
  font-weight: 100;
  font-family: 'Montserrat', serif;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 10px;
}

h3, h4, h5 {
  margin-top: 5px;
  font-weight: 600;
}

// Login

.wrapper-login__form button {
  background: rgb(84, 86, 255);
  color: #fff;
  font-family: 'Montserrat', serif;
  font-size: 12px;
}

.wrapper-login__form .btn-white {
  color: rgb(217, 184, 207);
  font-weight: 700;
  font-size: 12px;
  font-family: 'Montserrat',serif;
}

.wrapper-login__form .text-muted {
  color: rgb(222, 225, 230);
  font-family: 'Montserrat', serif;
}

.wrapper-login__form .form-control {
  font-size: 14px;
  font-family: 'Montserrat', serif;
}

label,
button,
.modal-header {
  font-family: 'Montserrat', serif;
}

button.btn-add__website,
a.btn-add__website {
  background: #27B7F6;
  color: #fff;
  font-family: 'Proxima Nova Alt Lt';
  font-size: 14px;
}

button.btn-close {
  font-family: 'Proxima Nova Rg';
  font-weight: 900;
  color: #27B7F6;
  font-size: 12px;
}

.content-body__wrapper .modal-content {
  background: #EEEEF5;
  font-family: 'Muli', sans-serif;
  border-radius: 5px;
}

.content-body__wrapper .modal-header h4 {
  font-family: 'Proxima Nova Rg';
  font-weight: 900;
}

.actions-bg {
  background-color: #FAFAFC;
  border-radius: 5px;
  font-family: 'Montserrat', serif;
  font-size: 20px;
  text-align: center;
}

button.btn.button-light {
  border: 2px solid rgb(245, 245, 246);
  padding: 5px 15px;
  font-family: 'Muli', sans-serif;
}

h1.breadcrumb-title {
  color: #6c6c6e;
  font-family: 'Proxima Nova Rg';
  font-weight: 600;
  padding-top: 50px;
}

.search-wrapper input::placeholder,
.search-wrapper input {
  color: rgb(199, 199, 207);
  font-family: 'Proxima Nova Rg';
  font-size: 12px;
}

.menu-list li a {
  color: rgb(128, 128, 130);
  font-family: 'Proxima Nova Rg';
  font-size: 11px;
  font-weight: 900;
}


.breadcrumb-title a{
  color: #2d2d2d;
  font-family: 'Muli', sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.breadcrumb-title2 a {
  color: rgb(108, 108, 110);
  font-size: 16px;
  font-weight: 600;
  font-family: 'Proxima Nova Rg';
}

h1.title {
  font-family: 'Proxima Nova Rg';
  font-size: 22px;
  font-weight: 900;
}

label,
button,
.modal-header {
  font-family: 'Montserrat', serif;
}

.content-body__wrapper form label {
  font-family: 'Proxima Nova Rg';
}

.breadcrumb-title2 a:hover {
  color: rgb(142, 115, 247);
  text-decoration: none;
}