<template name="navigation">
    
        <nav id="sidebar">
                <div class="row text-center my-5">
                    <div class="col-lg-12">
                        <div class="sidebar-header">
                            <img src="logo_dashboard.png" alt="techstack_logo" class="img-fluid">
                        </div>
                    </div>
                </div>
                <ul class="list-unstyled components">
                    <li>
                        <a href="/dashboard"><i class="fas fa-home"></i> Home</a>
                    </li>
                    {{#if $eq currentUser.profile.role 'Administrator'}}
                    <li>
                        <a href="/clients"><i class="fas fa-building"></i> Clients</a>
                    </li>
                    {{/if}}
                    <li>
                        <a href="/api"><i class="fas fa-cog"></i> Api</a>
                    </li>
                    {{#if currentUser}}
                    <li>
                        <a href="/signout"><i class="fas fa-sign-out-alt"></i> Signout</a>
                    </li>
                    {{else}}
                    <li>
                        <a href="/"><i class="fas fa-sign-out-alt"></i> Login</a>
                    </li>
                    {{/if}}
                </ul>
            </nav>
</template>