<template name="navigation">
    <nav id="sidebar">
        <div class="row text-center my-5">
            <div class="col-lg-12">
                <div class="sidebar-header">
                    <a href="/dashboard"><img src="/logo/logo_52x52.png" alt="techstack_logo" class="img-fluid"></a>
                </div>
            </div>
        </div>
        <div class="row text-center my-5">
            <div class="col-lg-12">
                <a href="#"><img src="/nav-icons/notif.png" alt="bell" class="img-fluid"></a>
                <ul class="list-unstyled components">
                    <li>
                        <a href="/"><img src="/nav-icons/search.png" alt="search" class="img-fluid"></a>
                    </li>
                    {{#if $eq currentUser.profile.role 'Administrator'}}
                    <li>
                        <a href="/dashboard"><img src="/nav-icons/home.png" alt="home" class="img-fluid"></a>
                    </li>
                    {{/if}}
                    <li>
                        <a href="/dashboard"><img src="/nav-icons/home.png" alt="home" class="img-fluid"></a>
                    </li>
                    <li>
                        <a href="/dashboard"><img src="/nav-icons/question.png" alt="question" class="img-fluid"></a>
                    </li>
                    <li>
                        <a href="/signout"><img src="/nav-icons/profile.png" alt="profile" class="img-fluid"></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</template>