<template name="profile">
    <nav id="sidebar" class="container-fluid sidebar-white">
        <div class="row text-center my-5">
            <div class="col-lg-12">
                <div class="sidebar-header">
                    <h2 class="breadcrumb-title my-5">PROFILE</h2>
                    <img src="/icon1.png" alt="techstack_logo" class="img-fluid">

                </div>
            </div>
        </div>

        {{#if currentUser}}
        <div class="container-fluid blue-text">

            <h3 class="text-center company-title">{{currentUser.username}}</h3>
            <h5 class="text-center company-sub">{{currentUser.emails.[0].address}}</h5>
            <h5 class="text-center company-sub">{{currentUser.profile.url}}</h5>
            <hr class="my-5">
        </div>
        {{/if}}
        <div class="container-fluid">
            <div class="row align-items-center justify-content-center">
                <!-- <div class="col-lg-5">
                    <h6 class="black-text align-bottom">ACTIONS</h6>
                </div> -->
                <div class="col-lg-2">
                    <button id="button" class="btn" data-toggle="modal" data-target="#editProfile"><i
                            class="far fa-edit"></i></button>
                </div>
                <div class="col-lg-2">
                    <button id="button" class="btn"><i class="fas fa-location-arrow"></i></button>
                </div>
                <div class="col-lg-2">
                    <button id="button" class="btn"><i class="fa fa-home"></i></button>
                </div>

                <div class="row">
                    <div class="col-md-12 black-text">
                        <div class="modal" id="editProfile" tabindex="-1" role="dialog" aria-labelledby="editProfile"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="editProfile">Edit Profile</h4>
                                        <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group field">
                                                        <label for="companyName">Company Name</label>
                                                        <input class="form-control" id="username"
                                                            value="{{currentUser.username}}">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group field">
                                                        <label for="companyEmail">Company Email</label>
                                                        <input class="form-control" id="email" type="email"
                                                            value="{{currentUser.emails.[0].address}}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="form-group field">
                                                        <label for="websiteURL">Website URL</label>
                                                        <input class="form-control" id="url"
                                                            placeholder="{{currentUser.profile.url}}"
                                                            value="{{currentUser.profile.url}}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-header">
                                                <h4 class="modal-title align-left" id="editProfile">Change Password</h4>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-hidden="true"></button>
                                            </div>
                                            <div class="row">

                                                <div class="col-lg-12 my-2">
                                                    <div class="form-group">
                                                        <label for="websiteURL">Old Password</label>
                                                        <input type="password" class="form-control" id="old-password">
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 my-2">
                                                    <div class="form-group">
                                                        <label for="websiteURL">New Password</label>
                                                        <input type="password" class="form-control" id="new-password">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger"
                                            data-dismiss="modal">Cancel</button>
                                        <button type="button" class="btn btn-primary" id="save-changes"
                                            data-dismiss="modal">Add Company</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <hr>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <p id="currentURL" value="{{currentUser.profile.url}}" hidden></p>
                        <h2></h2>
                        <button id="loadClient">Load</button>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</template>