<template name="sidemenu">
    <div class="sidebar sidebar-white">
        <div class="sidebar-toggle">
            <img src="/icons/sidebar-arrow.png" class="img-fluid sidebar-arrow" alt="sidebar-arrow">
        </div>
        <div class="container-fluid h-100">
            <div class="row">
                <div class="col-lg-12 content-side__wrapper">
                    <div class="col-wrapper">
                        <h1 class="breadcrumb-title2 mt-2"><a href="#"><img src="/icons/error.png" alt="error"
                                    class="img-fluid">Error Reports</a></h1>
                    </div>
                    <div class="col-wrapper">
                        <h1 class="breadcrumb-title2 mt-2"><a href="/starred"><img src="/icons/starred.png"
                                    alt="starred" class="img-fluid">Starred</a></h1>
                    </div>
                    <div class="col-wrapper">
                        <h1 class="breadcrumb-title2 mt-2"><a href="/api"><img src="/icons/error.png"
                                    alt="starred" class="img-fluid">API</a></h1>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="breadcrumb-title">Properties</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="menu-list">
                                {{#each properties}}
                                <li class="pt-3"><a href="/apis/{{_id}}">{{propertyName}}</a></li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>